<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('../partials/analytics-head.html?raw') %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Tippy</title>
  </head>
  <body>
    <%= require('../partials/analytics-body.html?raw') %> <%=
    require('../partials/nav.html?raw') %>
    <main>
      <header>
        <h1 class="masthead">Control Tippy</h1>
      </header>
      <div id="tippy-canvas-div">
        <canvas id="tippy-canvas"></canvas>
      </div>
      <h2 style="text-align: center">
        Use left and right keys to control Tippy
      </h2>
      <div>
        <button
          id="train-btn"
          style="height: 50px; width: 200px; font-size: 20px"
        >
          Begin training
        </button>
      </div>
    </main>
    <%= require('../partials/footer.html?raw') %>
  </body>
</html>
