body {
  background-color: #303030;
  color: white;
}

#tippy-canvas-div {
  display: flex;
  justify-content: center;
}

#tippy-canvas {
  background-color: skyblue;
  /* width: 100%; */
}

/* #chart-canvas {
  background-color: rgb(240, 240, 240);
} */
