<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Tippy</title>
  </head>
  <body>
    <%= require('../partials/nav.html?raw') %>
    <main>
      <header>
        <h1 class="masthead">Control Tippy</h1>
      </header>
      <div id="tippy-canvas-div">
        <canvas id="tippy-canvas"></canvas>
      </div>
      <h2 style="text-align: center">
        Use left and right keys to control Tippy
      </h2>
      <!-- <div>
        <canvas id="chart-canvas"></canvas>
      </div> -->
      <div>
        <button
          id="train-btn"
          style="height: 50px; width: 200px; font-size: 20px"
        >
          Begin training
        </button>
      </div>
      <div>
        <p>
          Listicles told me to make projects I enjoy. I enjoy watching computers
          solve problems in surprising ways. The behavior of intelligent agents
          is fun to watch (interpretable? relatable?). The algorithms appear
          creative.
        </p>
        <p>
          There are lots of fun examples. Presentations or videos are less
          interactive. Live training is more interactive. A live training with
          an agent that responds to user input is even more interactive.
        </p>
        <p>
          So many algorithms to choose from! Continuous reinforcement learning
          is efficient in some ways... Evolutionary strategies are neat.
        </p>
      </div>
    </main>
    <%= require('../partials/footer.html?raw') %>
  </body>
</html>
