<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= require('../partials/nav.html?raw') %>
    <header>
      <h1 class="masthead"><%= htmlWebpackPlugin.options.title %></h1>
    </header>
    <div>
      <canvas id="canvas"></canvas>
    </div>
    <%= require('../partials/footer.html?raw') %>
  </body>
</html>
