<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tippy Project</title>
  </head>
  <body>
    <%= require('../partials/nav.html?raw') %>
    <main>
      <header>
        <h1 class="masthead">Tippy Project</h1>
      </header>
      <p>Click on those fun tabs up there to have fun!</p>
    </main>
    <%= require('../partials/footer.html?raw') %>
  </body>
</html>
