<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spot</title>
  </head>
  <body>
    <%= require('../partials/nav.html?raw') %>
    <main>
      <header>
        <h1 class="masthead">See Spot Run?</h1>
      </header>
      <div id="canvas-div">
        <h1 id="loading-message">Loading</h1>
        <canvas class="demo-canvas" id="canvas-bg"></canvas>
        <canvas class="demo-canvas" id="canvas-markers"></canvas>
        <canvas class="demo-canvas" id="canvas-fg"></canvas>
      </div>
      <section>
        <h2>Network Architecture</h2>
        <p>
          Activation function, feed-forward, number of activations, with bias
        </p>
      </section>
      <section>
        <h2>Objective Function (Rewards)</h2>
        <p>
          Correlated objectives. How far? What angle? Limb dynamics?
          Normalization? Body dynamics (angle, motion)
        </p>
      </section>
    </main>
    <%= require('../partials/footer.html?raw') %>
  </body>
</html>
