$setting-width: 11rem;
$canvas-btn-clr: rgba(255, 255, 255, 0.8);

#top-container {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  background-color: rgb(220, 220, 220);
}

#settings-container {
  display: inline-flex;
  justify-content: space-between;

  // background-color: coral;
  padding: 0.5rem;
  overflow-y: auto;
  min-height: min-content;
}

.setting-wrapper {
  display: inline-block;
  width: $setting-width;

  margin: 0.25rem;
  padding: 0.5rem;
  flex-shrink: 1;
  flex-grow: 0;
  align-self: stretch;

  background: white;
}

.setting-wrapper select,
.setting-wrapper input:not([type="checkbox"]) {
  width: 100%;
}

.setting-wrapper.hidden {
  display: none;
}

.path-check {
  display: flex;
  flex-grow: 0;
  align-items: center;
}

.path-check input {
  margin-right: 0.5rem;
}

.more {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-end;
  text-align: right;
  background: none;
  padding: 0;
  margin: 0;
}

.more button {
  padding: 0.25rem;
  font-size: 1rem;
  margin: 0.25rem;
  background-color: white;
}

#gradient-container {
  position: relative;
  display: inline-block;
  background: red;
  aspect-ratio: 1;
  align-self: flex-end;
}

.zoom-div {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0.75rem;
  left: 0.75rem;
  background: $canvas-btn-clr;
  border-radius: 0.5rem;

  hr {
    width: 1.5rem;
    height: 0.125rem;
    margin: 0 auto;
    background-color: gray;
    border: none;
  }
}

.zoom-btn {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  background: none;
  border: none;
}

.play-btn-wrapper {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

.play-btn-container {
  position: relative;
  display: inline-flex;
  background: $canvas-btn-clr;
  border: 1px solid black;
  border-radius: 0.5rem;
  z-index: 4;

  button {
    border: none;
    background: none;
    z-index: 4;
    i {
      font-size: 1.75rem;
      margin: 0.5rem;
      z-index: 4;
    }
  }
}

.obj-fn-canvas {
  position: absolute;
}

#canvas-bg {
  z-index: 1;
}

#canvas-means {
  z-index: 2;
}

#canvas-fg {
  z-index: 3;
}

#chart-container {
  background: white;
}
