$setting-width: 11rem;
$canvas-btn-clr: rgba(255, 255, 255, 0.8);

.cma-demo-container {
  display: flex;
  flex-direction: column;
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }
}

#top-container {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  background-color: rgb(220, 220, 220);
}

#settings-container {
  display: inline-flex;
  justify-content: space-between;

  padding: 0.5rem;
  overflow-y: auto;
  min-height: min-content;
}

.setting-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: $setting-width;

  margin: 0.25rem;
  padding: 0.5rem;
  flex-shrink: 1;
  flex-grow: 0;
  align-self: stretch;

  background: white;

  select,
  input:not([type="checkbox"]) {
    width: 100%;
    font-size: 1rem;
    margin: 0.25rem auto;
  }

  button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.125rem;
    top: 0;
  }
}

.setting-wrapper.hidden {
  display: none;
}

.path-check {
  display: flex;
  flex-grow: 0;
  align-items: center;
}

.path-check input {
  margin-right: 0.5rem;
}

.setting-wrapper.more {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-end;
  text-align: right;
  background: none;
  padding: 0;
  margin: 0;

  button {
    width: auto;
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0.25rem;
    background-color: white;
  }
}

#gradient-container {
  position: relative;
  display: inline-block;
  aspect-ratio: 1;
  align-self: flex-end;
}

.zoom-container {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0.25rem;
  left: 0.25rem;
  background: $canvas-btn-clr;
  border-radius: 0.5rem;

  hr {
    width: 1.5rem;
    height: 1px;
    margin: 0 auto;
    background-color: gray;
    border: none;
  }
}

.zoom-btn {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  background: none;
  border: none;
  color: black;
}

.play-btn-wrapper {
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  right: 0;
  text-align: center;
}

.play-btn-container {
  position: relative;
  display: inline-flex;
  background: $canvas-btn-clr;
  border-radius: 0.5rem;
  z-index: 4;

  hr {
    border: none;
    width: 1px;
    background: gray;
    margin: 4px 2px;
  }

  button {
    border: none;
    background: none;
    z-index: 4;
    i {
      font-size: 1.75rem;
      margin: 0.375rem;
      z-index: 4;
      color: black;
    }
  }
}

.obj-fn-canvas {
  position: absolute;
}

#canvas-bg {
  z-index: 1;
}

#canvas-means {
  z-index: 2;
}

#canvas-fg {
  z-index: 3;
}

#chart-container {
  background: white;
  width: min-content;
  align-self: center;
}
