html,
body {
  height: 100vh;
}

body {
  background-color: #ffffff;
  color: #2c302f;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

nav {
  grid-area: nav;
  display: block;
  background-color: black;
  color: white;
  padding: 7px;
  /* align-self: start; */
  /* position: sticky; */
}

header {
  grid-area: main;
  display: block;
  text-align: center;
  /* overflow: auto; */
}

main {
  grid-area: main;
  padding: 10px 20px 10px 20px;
  overflow: auto;
}

footer {
  grid-area: footer;
}

h1,
h2,
h3 {
  font-weight: 300;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav > ul > li {
  display: block;
}

nav > ul > li > a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 0 -1px black;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  word-break: break-all;
  line-height: 0.85;
}

.page-title > i {
  display: block;
  font-size: 2em;
  margin-bottom: 0.3em;
}

footer {
  background: #282828;
  color: white;
  flex: 1 0 auto;
  padding-top: 20px;
}

footer a {
  color: white;
}

footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

footer > ul > li {
  display: block;
}

footer > ul > li > a {
  display: block;
  font-size: 21px;
  padding: 10px 20px 40px 20px;
}
